@model Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Get Student</title>
</head>
<body>
<div>
    Student id: @Model.Id.ToString();
</div>
<div>
    Student Name: @Model.Name;
</div>
<div>
    Student Age: @Model.Age.ToString();
</div>
</body>
</html>
